<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FZ-TZ</title>
</head>

<body>
    <ul>
        {% for url in urls %}
        <li style="margin-top:10px; font-size:20px"> <a href=api/{{url}}> {{url}} </a> </li>
        {% endfor %}
    </ul>
</body>

</html>